<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trovami"
        tools:targetApi="31">
        <activity
            android:name=".CambiarIdioma"
            android:exported="false" />
        <activity
            android:name=".testing"
            android:exported="false" />
        <activity
            android:name=".MostrarResultados"
            android:exported="false" />
        <activity
            android:name=".PreguntasFrecuentes"
            android:exported="false" />
        <activity
            android:name=".Ajustes_EditarContrasena"
            android:exported="false" />
        <activity
            android:name=".Ajustes_EditarNombres"
            android:exported="false" />
        <activity
            android:name=".Registrarse2"
            android:exported="false" />
        <activity
            android:name=".Ajustes"
            android:exported="false" />
        <activity
            android:name=".Presentacion1"
            android:exported="false" />
        <activity
            android:name=".AcercaDe"
            android:exported="false" />
        <activity
            android:name=".Presentacion3"
            android:exported="false" />
        <activity
            android:name=".Presentacion2"
            android:exported="false" />
        <activity
            android:name=".EditarObjeto"
            android:exported="false" />
        <activity
            android:name=".TipoDeUsuario"
            android:exported="false" />
        <activity
            android:name=".Registrarse1"
            android:exported="false" />
        <activity
            android:name=".IniciarSesion"
            android:exported="false" />
        <activity
            android:name=".Busqueda"
            android:exported="false" />
        <activity
            android:name=".Alertas_lo_tome"
            android:exported="false" />
        <activity
            android:name=".ConfigurarAlertas"
            android:exported="false" />
        <activity
            android:name=".Presentacion0"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>